.content-section {

  .content-section-heading {
    margin-bottom: 25px;
  }

  &.content-section-centered {
    padding: 60px 0;
    text-align: center;
  }

  &.content-section-side-image {
    display: flex;
    flex-direction: row;

    .content-section-side-image-content {
      background: #303B48;
      padding: 50px 0;
      flex-grow: 1;
    }

    .content-section-side-image-container {
      width: 250px;
      min-height: 500px;
      background-size: cover;
      background-position: center;
    }
  }
}

@media only screen and (max-width: 576px) {
  .content-section {
    &.content-section-side-image {
      flex-direction: column;

      .content-section-heading {
        text-align: center;
      }

      .content-section-side-image-container {
        min-height: 80px;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
